@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* GENERAL CLASSES */
.double-screen {
    display: flex;
}

.logo {
    background-color: #7025FB;
    padding: 30px 80px;
    width: 923px;
    height: 84px;
}

.chess-img{
    width: 923px;
    height: 996px;
}

.chess-img img, .quote-img img{
    width: 100%;
    height: 100%;
}

button {
    transition: 0.15s all;
}

.required {
    color: #DC3545;
}

/* LANDING PAGE */
.landing-wrapper {
    background-color: #FD5334;
    width: 997px;
    height: 1080px;
}

.landing-texts{
    margin: 265px 85px;
    font-family: 'Nunito', sans-serif;
}

.landing-texts h3{
    color: white;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5;
}

.landing-texts span {
    color: #212529;
    font-size: 20px;
    font-weight: bold;
    vertical-align: 20px;
}

.landing-texts .link{
    margin-top: 102px;
    word-spacing: 5px;
}

.landing-texts a {
    color: white;
    background-color: #212529;
    font-size: 20px;
    text-transform: capitalize;
    padding: 13px 24px;
    border-radius: 8px;
}

.landing-texts a:hover{
    outline: 4px solid rgba(194, 165, 249, 0.8);
}

.landing-texts a img{
    vertical-align: middle;
}


/* REGISTRATION PAGE */
.quote-img{
    height: 996px;
    position: relative;
}

.quote-texts{
    color: #212529;
    position: absolute;
    top: 200px;
    left: 132px;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    font-weight: 800;
    font-style: italic;
    line-height: 2;
    text-transform: uppercase;
}

.quote-texts h4{
    color: #E5E6E8;
    font-size: 24px;
    font-weight: 500;
    margin-top: 24px;
}

.registration-wrapper h4{
    color: #212529;
    margin: 30px 48px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.divider {
    width: 100%;
    margin-top: 37px;
    color: #B9B4C3;
    opacity: 0.3;
}

.error-modal{
    position: absolute;
    right: 39px;
    width: 350px;
    height: 87px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
}

#error-username{
    top: 100px;
    display: none;
}

#error-email{
    top: 200px;
    display: none;
}

#error-phone{
    top: 300px;
    display: none;
}

#error-date{
    top: 400px;
    display: none;
}

.invalid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invalid .header{
    margin: 8px 0 0 8px;
}

.invalid .header span{
    color: #DC3545;
    font-size: 14px;
    font-weight: 600;
    text-transform: inherit;
    vertical-align: top;
    margin-top: 10px;
}

.invalid .header img{
    margin-top: -5px;
}

.invalid .close-img{
    margin-top: 14px;
    margin-right: 10px;
    cursor: pointer;
}

.error-modal h4{
    font-size: 16px;
    font-weight: 400;
    color: #212529;
    text-transform: inherit;
    margin: 12px;
}

.error-modal .error-divider{
    width: 100%;
    color: #B9B4C3;
    opacity: 0.3;
}

.wizard {
    margin-top: 74px;
    margin-right: 395px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wizard .step-one div, .wizard .step-two div{
    width: 40px;
    height: 40px;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #212529;
}

.wizard .step-two div{
    background-color: #E5E6E8;
    color: #95939A;
}

.steps-connector {
    width: 174px;
    height: 1px;
    background-color: #B9B4C3;
    opacity: 30%;
    margin-inline: 4px;
}

.infos{
    display: flex;
    margin-left: 48px;
    margin-top: 8px;
}

.infos h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-right: 77px;
}  

.personal-info-wrapper {
    margin: 115px 48px;
    font-family: 'Open Sans', sans-serif;
}

.personal-info-wrapper h2{
    font-size: 32px;
    font-weight: 600;
}

.personal-info-wrapper h5{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #95939A;
}
 
.form-wrapper form input:not(:first-child){
    margin-top: 40px;
}

.form-wrapper form input{
    border: none;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    width: 775px;
    height: 46px;
    padding: 8px 16px;
    margin-left: 48px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.form-wrapper form input::placeholder {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: #212529;
}

.form-wrapper form input:hover{
    background-color: #F8F9FA;
}

.form-wrapper form input:focus{
    background-color: #E9ECEF;
    outline: none;
}


/* .someclass {
    position: relative;
}

* .someclass::after {
    position:absolute;
    top: 15px;
    left: 150px;
    content: "*";
    color:#ff0000
} */



.registration-btns{
    display: flex;
    margin: 88px 48px;
}

.registration-btns button{
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    padding: 13px, 24px;
    height: 53px;
}

.back-btn{
    background: none;
    width: 93px;
    border: 1px solid #212529;
}

.back-btn:hover{
    background: rgba(185, 180, 196, 0.3);
    border: 1px solid rgba(194, 165, 249, 0.8);
}

.next-btn{
    margin-left: 554px;
    width: 128px;
    background-color: #212529;
    color: white;
}

.next-btn:hover{
    outline: 4px solid rgba(194, 165, 249, 0.8);
}

.next-btn img{
    vertical-align: middle;
    margin-left: 5px;
}


/* EXPERIENCE PAGE */

.quote-img .experience-quotes h4{
    color: #093F68;
    text-align: end;
}

.wizard .step-one .check-all, .wizard .experience-step-two div{
    background-color: #E9FAF1;
    border: none;
}

.wizard .experience-step-two div{
    color: #212529;
}

#experience-error, #character-error, #championship-error{
    display: none;
}

#experience-error, #character-error, #championship-error{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    color: #DC3545;
    margin-top: 20px;
    text-align: center;
}


.experience-form-wrapper{
    margin-left: 38px;
}

.dropdown-wrapper{
    display: flex;
    align-items: center;
}

.character-selector, .experience-selector{
    width: 392px;
}

.character-selector{
    margin-left: 23px;
}

#character-selectField, #experience-selectField{
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
}

#character-selectField img, #experience-selectField img{
    transition: transform 0.5s;
}

#character-list, #experience-list{
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid rgba(185, 180, 196, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
}

#character-list {
    height: 419px;
}

#experience-list{
    height: 200px;
}

.character-options, .experience-options{
    width: 100%;
    cursor: pointer;
    position: relative;
}

.character-options{
    height: 72px;
    padding: 28px;
    margin-top: 16px;
}

.experience-options{
    height: 45px;
    padding: 15px;
    margin-top: 16px;
}

.character-options img{
    width: 90px;
    height: 72px;
    border-radius: 4px;
    position: absolute;
    top: 2px;
    right: 25px;
}

/* .total-characters{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #817D7D;
    margin: 16px 28px;
} */

.character-options:hover, .experience-options:hover{
    background-color: #F7F7F9; 
}

.hide{
    display: none;
}

.rotate {
    transform: rotate(180deg)
}

#championship h4{
    margin: 0;
    margin-top: 88px;
    font-family: 'Open Sans';
    text-transform: inherit;
    font-weight: 400;
    font-size: 20px;
    color: #212529;
}

#championship input{
    margin-top: 27px;
    cursor: pointer;
}

#championship label{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #212529;
}










/* ONBOARDING PAGE */
.onboarding-text {
    margin: 320px 230px;
    text-align: center;
}

.onboarding-text h3{
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 20px;
}